*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.dark{
  background-color: black;
  color: white;
}
img {
  max-width: 100%;
  display: inline-block;
  max-height: 100%;
  object-fit: contain;
}
ul {
  list-style: none;
}
a {
  color: dodgerblue;
}